@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fel-page-color: rgb(174, 174, 182);
  --fel-navbar-color: rgb(204, 255, 102);
}

body {
  font-family: "Montserrat", sans-serif;
}

.flex-container {
  display: flex;
}

.content {
  min-height: 100vh;
  background-color: var(--fel-page-color);
}
